<% @ideas.each do |idea| %>
  <div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
        <small><%= idea.author %></small>  
      </blockquote>
    </div>
  </div>
<% end %>
