<div id="about">
  <h1>About Ideator</h1>

  <p>
    The idea for Ideator was born in a place far away land of myth which cannot be mapped in the modern day. Some say the dragons were the original creators of "Ideator: The idea tracking notebook" but we will never know. Ideator has gone through many changes throughout history. The most important variation of the true "Ideator" seems to be the webapp that students at Techrise are supposed to build. They say you should not write about Ideator, or you could be pulled to another dimension by a mysterious dark energy. I should probably stoppppppp.. ... ..... ... .. ..  .. .. . .. . .. ............  </p>
</div>